<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录 - 个人论坛</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/my.css" rel="stylesheet">
    <style>
        .login-container {
            max-width: 400px;
            margin: 5rem auto;
            padding: 2rem;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-control,
        .btn {
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <!-- 导航栏 -->
    {% include 'login_head.html' %}

    <!-- 登录页面内容 -->
    <div class="container login-container">
        <h2 class="text-center mb-4">登录</h2>
        <p style="color: red;">尊敬的用户，您好！如果您之前注册过，因为作者更新了密码的加密方式，所以你现在需要重置密码以后才能登录。给您带来不便，请见谅。</p>
        <form id="login-form" action="/login_sub" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">用户名</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">密码</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="text-center">
                <button type="button" onclick="login()" class="btn btn-primary" >登录</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <p>还没有账号？👉<a class="text-muted" href="/register">注册新账号</a></p>
        </div>
        <div class="text-center mt-3">
            <p>忘记密码？🤔<a class="text-muted" href="/reset_pwd">重置密码</a></p>
        </div>
    </div>

    <!-- 页脚 -->
    {% include 'footer.html' %}

    <!-- Bootstrap JS -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/cdnjs/crypto-js.min.js"></script>
    <script>
        function login() {
            var from = document.getElementById('login-form');
            var pwd = document.getElementById('password');
            pwd.value = SHA256(pwd.value);
            from.submit();
            clear();
        }
        function SHA256(password) {
            return CryptoJS.SHA256(password).toString(CryptoJS.enc.Hex);
        }
        function clear() {
            document.getElementById('username').value = '';
            document.getElementById('password').value = '';
        }
    </script>
</body>

</html>