<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册 - 个人论坛</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/my.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cropper.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        .register-container {
            max-width: 500px;
            margin: 1rem auto;
            padding: 1rem;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-control,
        .btn {
            border-radius: 8px;
        }

        .password-toggle {
            cursor: pointer;
        }

        .fz {
            font-size: 17px;
        }

        /* 裁剪模态框样式 */
        .modal-lg {
            max-width: 800px;
            /* 调整模态框的最大宽度 */
        }

        .cropper-container {
            max-width: 100%;
            height: 400px;
            /* 调整裁剪容器的高度 */
        }
    </style>
</head>

<body>

    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">个人论坛</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 注册页面内容 -->
    <div class="container register-container">
        <h2 class="text-center mb-4">注册新账号</h2>
        <form id="form1" action="/submit_register" method="post" style="padding: 15px;"
            enctype="multipart/form-data">
            <div class="row mb-1">
                <div class="col">
                    <label for="username" id="tips" class="form-label">用户名</label>
                    <input type="text" onblur="checkUsername()" class="form-control" id="username" name="username"
                        required>
                </div>
                <div class="col">
                    <label for="email" class="form-label">电子邮箱</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>

            <div class="mb-1 col">
                <label for="nickname" class="form-label">昵称</label>
                <input type="text" class="form-control" id="nickname" name="nickname">
                <small id="nickHelp" class="form-text text-muted">
                    <ul>
                        <li>不能包含空格和敏感字符</li>
                        <li>可以不填，随机昵称</li>
                    </ul>
                </small>
            </div>
            <div class="mb-2">
                <label for="pwd" class="form-label">密码</label>
                <div class="input-group">
                    <input type="password" id="pwd" onblur="checkPassword()" class="form-control" name="password"
                        required>
                    <button class="btn btn-outline-secondary password-toggle" type="button"
                        onclick="togglePassword('pwd')">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                </div>
                <small id="passwordHelp" class="form-text text-muted">
                    <ul>
                        <li>密码长度必须大于8，且密码必须包含数字、英文和特殊字符。比如：zhangsan8.</li>
                        <li>密码不能包含空格</li>
                    </ul>
                </small>
            </div>
            <div class="mb-2">
                <label for="pwd1" class="form-label">确认密码</label>
                <div class="input-group">
                    <input type="password" id="pwd1" onblur="checkPassword()" class="form-control" name="password-test"
                        required>
                    <button class="btn btn-outline-secondary password-toggle" type="button"
                        onclick="togglePassword('pwd1')">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                </div>
            </div>
            
        </form>
        <div class="text-center">
            <button type="button" id="sub" onclick="register()" class="btn btn-primary">注册</button>
        </div>
        <div class="text-center mt-3">
            <p>已有账号？<a class="text-muted" href="/login">登录</a></p>
        </div>
    </div>

    <!-- 页脚 -->
    {% include 'footer.html' %}

    <!-- Bootstrap JS and Icons -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/cropper.js"></script>
    <script src="../static/js/cdnjs/crypto-js.min.js"></script>

    <script>


        function register(){
            alert('----')
            var form = document.getElementById('form1');
            var pwd = document.getElementById('pwd');
            pwd.value = SHA256(pwd.value);
            form.submit();
            clear();
        }


        function SHA256(password){
            return CryptoJS.SHA256(password).toString(CryptoJS.enc.Hex);
        }
        function clear(){
            document.getElementById('username').value = '';
            document.getElementById('password').value = '';
            document.getElementById('password-test').value = '';
        }

        const allowedExtensions = ['jpg', 'png'];
        const allowedMime = ['image/jpeg', 'image/png'];
        const fileInput = document.getElementById('imgfile');
        const imgtips = document.getElementById('imgtips');
        const max_size = 2 * 1024 * 1024;

        function clear() {
            imgtips.innerHTML = '头像';
            imgtips.style.color = 'black'; // 重置颜色
        }

        // 检查文件格式
        function checkFile(file) {
            const fileName = file.name.toLowerCase();
            const fileExtension = fileName.substring(fileName.lastIndexOf(".") + 1);
            const fileType = file.type.toLowerCase();
            return allowedExtensions.includes(fileExtension) && allowedMime.includes(fileType);
        }

        function checkFileSize(file) {
            return file.size <= max_size;
        }


        function offtrue(flg) {
            const pwd1 = document.getElementById('pwd1');
            const pwd = document.getElementById('pwd');
            const sub = document.getElementById('sub');
            const email = document.getElementById('email');
            const nickname = document.getElementById('nickname');
            if (flg == true) {
                pwd1.disabled = true;
                pwd.disabled = true;
                sub.disabled = true;
                email.disabled = true;
                nickname.disabled = true;
            } else {
                pwd1.disabled = false;
                pwd.disabled = false;
                sub.disabled = false;
                email.disabled = false;
                nickname.disabled = false;
            }
        }

        function checkUsername() {
            const username = document.getElementById('username').value;
            const tips = document.getElementById('tips');

            const url = `check_username/${username}`;
            console.log(url);
            let flg = false;
            if (username == '') {
                tips.style.color = 'red';
                tips.innerHTML = `用户名不能为空`;
                flg = true;
                offtrue(flg);
                return;
            } else {
                tips.innerHTML = '用户名';
                offtrue(flg);
            }

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.exists == false) {
                        tips.style.color = 'red';
                        tips.innerHTML = `${username} 已经存在!`;
                        flg = true;
                        offtrue(flg);
                    } else {
                        tips.style.color = 'black';
                        tips.innerHTML = '用户名可用';
                        offtrue(flg);
                    }
                })
                .catch(error => {
                    alert('请求失败.....');
                    console.log(error);
                    tips.style.color = 'red';
                    tips.innerHTML = '请求失败，请稍后再试';
                    offtrue(true);
                });
        }

        // js判断两次输入的密码是否一致
        function checkPassword() {
            const password = document.getElementById('pwd').value;
            const confirmPassword = document.getElementById('pwd1').value;
            console.log(password, confirmPassword);
            if (password !== confirmPassword) {
                const sub = document.getElementById('sub');
                sub.disabled = true;
                sub.className = 'btn btn-danger';
                sub.innerText = '两次密码不一致';
            } else {
                const sub = document.getElementById('sub');
                sub.disabled = false;
                sub.className = 'btn btn-primary';
                sub.innerText = '注册';
            }
        }

        // 切换密码显示状态
        function togglePassword(inputId) {
            const input = document.getElementById(inputId);
            const icon = document.querySelector(`button[onclick="togglePassword('${inputId}')"] i`);
            if (input.type === 'password') {
                input.type = 'text';
                icon.className = 'bi bi-eye-slash-fill';
            } else {
                input.type = 'password';
                icon.className = 'bi bi-eye-fill';
            }
        }

    </script>
</body>

</html>