<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission with onclick</title>
</head>
<body>
    <form id="myForm" action="/test" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <button type="button" onclick="submitForm()">Submit</button>
    </form>
    <script src="../static/js/cdnjs/crypto-js.min.js"></script>
    <script>
        function submitForm() {
            // 获取表单元素
            var form = document.getElementById('myForm');
            var pwd = document.getElementById('password');
            pwd.value = SHA256(pwd.value);
            // 提交表单
            form.submit();
            clear();
        }
        function SHA256(password){
            return CryptoJS.SHA256(password).toString(CryptoJS.enc.Hex);
        }
        function clear(){
            document.getElementById('password').value = '';
        }
    </script>
</body>
</html>